{{ $application := default dict .Values.application }}
{{ $cluster := default dict .Values.cluster }}
{{- if .Values.repositories }}
{{- range $repo := .Values.repositories }}
---
apiVersion: tekton.dev/v1beta1
kind: TaskRun
metadata:
  name: create-{{ $application.name }}-{{ $repo.id }}-github-webhook
  namespace: {{ $application.environments.cicd }}
spec:
  serviceAccountName: {{ $repo.id }}-tekton-triggers-createwebhook
  taskRef:
    name: {{ $application.name }}-{{ $repo.id }}-create-webhook
  params:
  - name: GitHubOrg
    value: {{ $repo.org }}
  - name: GitHubUser
    value: {{ $repo.user }}
  - name: GitHubRepo
    value: {{ $repo.name }}
  - name: GitHubSecretName
    value: {{ $repo.secret }}
  - name: GitHubAccessTokenKey
    value: password
  - name: GitHubSecretStringKey
    value: secret
  - name: ExternalDomain
    value: http://{{ $application.name }}-trigger-{{ $repo.id }}-{{ $application.environments.cicd }}.{{ $cluster }}
{{- end }}
{{- end }}