cluster: apps.s45.core.rht-labs.com
registry:
  secret: 11009103-tekton-pipeline-pull-secret

application:
  name: do101
  runtime: nodejs:12
  environments:
    cicd: labs-ci-cd
    development: do101-development
    production: do101-production

pipeline:
  sa:
    default: pipeline
    triggers: do101-tekton-triggers-sa
  nexus:
    host: https://nexus-labs-ci-cd.apps.s45.core.rht-labs.com/repository/labs-npm
  build:
    s2i:
      context: .

  webhook:
    github:
      org: mvmaestri
      user: mvmaestri
      repo: do101-apps
      secret: do101-github-webhook-secret
      key: do101-github-deploy-secret

config:
  build:
    strategy:
      buildah: registry.redhat.io/rhel8/buildah
  deployment:
    strategy:
      revisionMatch: false # if revisionMatch is true, then all branch names must match across multiple repositories
      latest:              # if is false, then the task will pull the latest version from the value specified
        from: develop

repositories:
  - id: backend
    name: do101-apps
    org: mvmaestri
    user: mvmaestri
    url: https://github.com/mvmaestri/do101-apps.git # check for orgs
    secret: do101-github-webhook-secret # todo: override if does not exists
    key: do101-github-deploy-secret
    tasks:
      validate:
        npmVersion: true
        ignoreTags: false
        fileExists:
          - package.json
          - chart/Chart.yaml
      standards:
        skip:
          helm: true
          lint: true
          audit: true
          unit: true
          coverage: true
      build:
        runtime: registry.redhat.io/rhel8/nodejs-12
        context: weather
      deploy:
        skip:
          autoscale: true
      tests:
        skip:
          e2e: false
          stress: false
        options:
          e2e: 
            command: npm run e2e
      promote:
        skip: 
          tag: false
          autoscale: true
          report: false

  - id: frontend
    name: treo
    runtime: registry.redhat.io/rhel8/nodejs-12
    url: https://github.com/mvmaestri/treo.git
    org: mvmaestri
    user: mvmaestri
    secret: do101-github-webhook-secret
    key: do101-github-deploy-secret
    tasks:
      validate:
        npmVersion: false
        ignoreTags: false
        fileExists:
          - package.json
      standards:
        skip: 
          helm: true
          lint: true
          audit: true
          unit: true
          coverage: true
      build:
        runtime: registry.redhat.io/rhel8/nodejs-12
        command: npm run build
        context: .
      deploy:
        skip:
          autoscale: true
      tests:
        e2e: 
          skip: false
          command: npm run e2e
        performance: 
          skip: false
      promote:
        skip: 
          tag: false
          autoscale: true
          report: false